In [1]:
import pandas as pd

In [2]:
coffee = pd.read_csv(r"C:\Users\Admin\Downloads\index.csv")

In [3]:
coffee.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [4]:
coffee.describe()

            money
count  896.000000
mean    34.143906
std      4.573951
min     23.020000
25%     28.900000
50%     34.500000
75%     37.720000
max     40.000000

In [5]:
coffee.shape

(896, 6)

In [6]:
coffee.columns

Index(['date', 'datetime', 'cash_type', 'card', 'money', 'coffee_name'], dtype='object')

In [7]:
coffee = coffee.dropna(axis = 0)

In [8]:
y = coffee.money

In [9]:
coffee_features = ['money']

In [10]:
X = coffee[coffee_features]

In [11]:

from sklearn.tree import DecisionTreeRegressor
coffee_model = DecisionTreeRegressor(random_state = 1)
coffee_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [12]:
print("make predictions for these coffee sales")
print(X.head())

make predictions for these coffee sales
   money
0   38.7
1   38.7
2   38.7
3   28.9
4   38.7

In [13]:
print("the predictions are")
print(coffee_model.predict(X.head()))

the predictions are
[38.7 38.7 38.7 28.9 38.7]

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [15]:
coffee = pd.read_csv(r"C:\Users\Admin\Downloads\index.csv")

In [16]:
coffee.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [17]:
coffee.shape

(896, 6)

In [18]:
y = coffee.coffee_name

In [19]:
coffee = coffee.drop(["coffee_name"], axis = 1)
X = coffee.select_dtypes(exclude = ["object"])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, test_size = 0.3, random_state = 0)

In [21]:
X_train.isnull()

     money
294  False
263  False
886  False
624  False
477  False
..     ...
835  False
192  False
629  False
559  False
684  False

[627 rows x 1 columns]

In [22]:
col_missing = [col for col in X_train.columns
if X_train[col].isnull().any()]

In [23]:
reduced_X_train = X_train.drop(col_missing, axis = 1)
reduced_X_test = X_test.drop(col_missing, axis = 1)

In [24]:
coffee.head()

         date                 datetime cash_type                 card  money
0  2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
1  2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
2  2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
3  2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
4  2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7